<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    Home
    <p>
         <!-- Object must be passed with (.) and the first letter must be capital -->
        User: {{ .Name }} 
        {{ if eq .Name "Sergio" }}
        <p>Hello world Serg</p>
        {{ else }}
        <p>Greetings</p>
        {{ end }}

        <!-- ne - notEqual/ gt/lt -->
        Age:
        {{ if lt .Age 35 }}
            <p>Still young</p>
        {{ end }}
        <hr>

        <!-- each element will output with (.) -->
        <ul>
            {{ range .Hobbies }}
                <li>{{ . }}</li>
            {{ else }}
                <p>Empty List</p>
            {{ end }}
        </ul>
    </p>
</body>
</html>