{{ define "create" }}
<!-- deine index = Execute Template(w, "index" ) -->

{{ template "header" }}
    <main role="main" class="inner cover">

      <h1 class="cover-heading">Create Article Form</h1>
      <form action="/save_article" method="POST">
        <input class="form-control" type="text" name="title" id="title" placeholder="Post title">
        <br>
        <textarea class="form-control" name="description" id="description" placeholder="Enter description"></textarea>
        <br>
        <textarea class="form-control" name="text" id="text" placeholder="Enter paragraph"></textarea>
        <br>
        <button type="submit">Submit</button>
      </form>

      <p class="lead">
        <a href="#" class="btn btn-lg btn-secondary">Learn more</a>
      </p>

    </main>

{{ template "footer" }}

{{ end }}
